body{
  background-image: url("/images/nature-outdoors-weather-fog.jpg");
  background-size: cover;
}
.row-full{
  max-height: 100vh;
  text-align: center;
}
.centerScreen{
  vertical-align: middle;
  align-content: center;
  display: inline-block;
}
hr.divider {
  border-top-width: 1px;
  border-top-color: rgb(0 0 0 / 30%);
}
